* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#hone {
  display: inline-block;
}

#htwo {
  /* display: inline-block; */
  opacity: 0;
}

#htwo:hover {
  opacity: 0.5;
  transition: ease-in 0.5s;
}
